@model Test.ViewModels.InfoViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Total books: </h2><p style="font-size: 1.5em">@Model.TotalBooks</p>
    <h2>Total authors: </h2><p style="font-size: 1.5em">@Model.TotalAuthors</p>
</div>
