# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Test.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Danial\source\repos\Test\.idea\.idea.Test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
