@using Microsoft.EntityFrameworkCore
@model Test.ViewModels.CreateViewModels.CreateNewBookViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@* Creating new book *@

<form asp-action="Create" asp-controller="Books" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Title" class="control-label">Title</label>
        <input type="text" asp-for="Title" class="form-control" />
        <span asp-validation-for="Title"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label">Description</label>
        <input type="text" asp-for="Description" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Edition" class="control-label">Edition</label>
        <input type="text" asp-for="Edition" class="form-control" />
    </div>
    @await Html.PartialAsync("_GetAuthors")
    <div class="form-group">
        <label asp-for="PublishedAt" class="control-label">Publish Date</label>
        <input asp-for="PublishedAt" type="date" class="form-control" />
        <span asp-validation-for="PublishedAt"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Добавить" class="btn btn-outline-secondary" />
    </div>
</form>